/*body {
    background-color: springgreen;
}
header {
    background-color: #d6d6ff;
    height: 5rem;
    color: white;
}
a {
    background-color: #454545;
    paddind: 8px;
    color: #dadaff;
}*/

div {
    text-align: center;
}
h1, h2, h3 {
    text-align: center;
}
.midiv {
    background-color: #6cbd91;
    padding: 2rem;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

